#toolbox {
	right:0px;
	background-color: #ffffff;
	text-align: center;
	z-index: 9999;
	position: absolute;
}
#toolbox-header {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f1;
	cursor: pointer;
}